<div class="card">
  <div class="card-header">
    {{stockSentimentUiData.companyName}} ({{stockSentimentUiData.companyTicker}})
  </div>
  <div class="card-body">
    <ng-container *ngFor="let monthlySentiment of stockSentimentUiData.monthlySentiments">
      <div>
        {{monthlySentiment.month}}<br>
        Change:{{monthlySentiment.change}}<br>
        MSPR:{{monthlySentiment.mspr}}<br>
        <div *ngIf="monthlySentiment.change >= 0; else elseBlock"><img src="assets/images/green-arrow.png" alt="going up"></div>
        <ng-template #elseBlock><div><img src="assets/images/red-arrow.png" alt="falling down"></div></ng-template>
      </div>
    </ng-container>

  </div>
</div>
